<div class="modal fade" id="modalRepasse" tabindex="-1" aria-labelledby="modalRepasseLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form id="formRepasse" method="post" action="#">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Registrar Repasse #<span id="repasse-id"></span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="{{ repasse_form.data_repasse.id_for_label }}" class="form-label">Data de Repasse</label>
            {{ repasse_form.data_repasse }}
          </div>
          <div class="mb-3">
            <label for="{{ repasse_form.observacao.id_for_label }}" class="form-label">Observação</label>
            {{ repasse_form.observacao }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Confirmar Repasse</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
