<div class="modal fade" id="modalCancelar" tabindex="-1" aria-labelledby="modalCancelarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form id="formCancelar" method="post" action="#">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger">Cancelar Cobrança #<span id="cancelar-id"></span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja cancelar esta cobrança?</p>
          <div class="mb-3">
            <label for="observacao_cancelamento" class="form-label">Motivo do Cancelamento</label>
            <input type="text" name="motivo_cancelamento" class="form-control" required />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Sim, Cancelar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        </div>
      </div>
    </form>
  </div>
</div>
