{% extends "base.html" %}
{% block content %}
<h2>Cobranças</h2>
<a href="{% url 'financeiro:cobranca-create' %}" class="btn btn-primary">Nova cobrança</a>
<table>
    <tr>
        <th>Contrato</th>
        <th>Referência</th>
        <th>Status</th>
        <th>Valor total</th>
        <th>Ações</th>
    </tr>
    {% for cobranca in cobrancas %}
    <tr>
        <td>{{ cobranca.contrato }}</td>
        <td>{{ cobranca.data_referencia_texto }}</td>
        <td>{{ cobranca.get_status_display }}</td>
        <td>R$ {{ cobranca.valor_total }}</td>
        <td>
            <a href="{% url 'financeiro:cobranca-detail' cobranca.pk %}">Ver</a> |
            <a href="{% url 'financeiro:cobranca-update' cobranca.pk %}">Editar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
