{% extends 'imoveis/base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto p-4">
    <!-- Cabeçalho -->
    <div class="bg-gray text-white p-6 rounded-lg mb-6">
        <h2 class="text-2xl font-bold mb-2">Gerar Cobranças</h2>
    </div>

    <!-- Formulário para Gerar Cobranças -->
    <div class="bg-gray p-6 rounded-lg border border-gray-200 shadow-md text-center mb-6">
        <form method="post" action="{% url 'cadastro_cobrancas' %}">
            {% csrf_token %}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                <div>
                    <label for="mes_referencia" class="block font-medium">Mês de Referência</label>
                    <select name="mes_referencia" id="mes_referencia" class="w-full p-2 border rounded text-gray-700" required>
                        {% for mes in meses %}
                        <option value="{{ mes.numero }}" {% if mes.numero == mes_atual %}selected{% endif %}>{{ mes.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="ano_referencia" class="block font-medium">Ano de Referência</label>
                    <input type="number" name="ano_referencia" id="ano_referencia" min="2000" max="2100" value="{{ ano_atual }}" class="w-full p-2 border rounded text-gray-700" required>
                </div>
            </div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Gerar Cobranças</button>
        </form>
    </div>


</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function formatCurrency(value) {
            const numericValue = Number(value);
            return isNaN(numericValue) ? 'R$ 0,00' : numericValue.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
        }

        document.querySelectorAll('.currency').forEach(element => {
            const rawValue = element.getAttribute('data-value');
            element.textContent = formatCurrency(rawValue);
        });
    });
</script>
{% endblock %}
