{% extends 'imoveis/base.html' %}
{% load static %}
<script src="{% static 'js/bundle.js' %}" defer></script>
{% block content %}

<div class="container mx-auto p-4">
    <!-- Cabeçalho -->
    <div class="bg-gray text-white p-6 rounded-lg mb-6">
        <h2 class="text-2xl font-bold mb-2">Contrato de Locação #{{ contrato.id }}</h2>
    </div>

    <!-- Informações Principais -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
        <!-- Partes do Contrato -->
        <div class="bg-gray p-6 rounded-lg focus:outline-none border border-gray-200 shadow-md text-center">
            <div class="flex items-center mb-4 justify-center">
                <i class="bi bi-house text-xl mr-2"></i>
                <h3 class="text-lg font-semibold">Imóvel</h3>
            </div>
            <p>{{ contrato.imovel }}</p>
        </div>

        <!-- Imóvel -->
        <div class="bg-gray p-6 rounded-lg focus:outline-none border border-gray-200 shadow-md text-center">
            <div class="flex items-center mb-4 justify-center">
                <i class="bi bi-people text-xl mr-2"></i>
                <h3 class="text-lg font-semibold">Partes do Contrato</h3>
            </div>
            <div class="space-y-2">
                <p><strong>Proprietário:</strong> {{ contrato.proprietario.nome }}</p>
                <p><strong>Inquilino:</strong> {{ contrato.inquilino.nome }}</p>
            </div>
        </div>

        <!-- Vigência -->
        <div class="bg-gray p-6 rounded-lg focus:outline-none border border-gray-200 shadow-md text-center">
            <div class="flex items-center mb-4 justify-center">
                <i class="bi bi-calendar text-xl mr-2"></i>
                <h3 class="text-lg font-semibold">Vigência</h3>
            </div>
            <div class="space-y-2">
                <p><strong>Início</strong> {{ contrato.data_inicio|date:"d/m/Y" }}</p>
                <p><strong>Término</strong> {{ contrato.data_fim|date:"d/m/Y" }}</p>
                <p><strong>Indíce de Reajuste</strong> {{ contrato.fator_reajuste }}</p>
                <p><strong>Aluguel Projetado:</strong> <span class="currency-projected" data-value="{{ contrato.aluguel_projetado }}"></span></p>
            </div>
        </div>
    </div>

    <!-- Valores e Pagamentos -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <!-- Valores -->
        <div class="bg-gray p-6 rounded-lg focus:outline-none border border-gray-200 shadow-md text-center">
            <div class="flex items-center mb-4 justify-center">
                <i class="bi bi-cash-coin text-xl mr-2"></i>
                <h3 class="text-lg font-semibold">Valores</h3>
            </div>
            <div class="space-y-2">
                {% if contrato.tipo_pagamento == 'Despesas_Separadas' %}
                    <p>
                        <strong>Valor do Aluguel:</strong>
                        <span class="currency" data-value="{{ contrato.valor_aluguel}}"></span>
                    </p>
                    <p>
                        <strong>Condomínio:</strong>
                        <span class="currency" data-value="{{ contrato.valor_condominio }}"></span>
                    </p>
                    <p>
                        <strong>IPTU:</strong>
                        <span class="currency" data-value="{{ contrato.valor_iptu }}"></span>
                    </p>
                    <p>
                        <strong>Outros Valores:</strong>
                        <span class="currency" data-value="{{ contrato.valor_outros }}"></span>
                    </p>
                {% else %}
                    <p>
                        <strong>Pacote:</strong>
                        <span class="currency" data-value="{{ contrato.valor_pacote }}"></span>
                    </p>
                {% endif %}
            </div>
            
            <!-- Total dos Valores -->
            <p>
                <strong>Total:</strong>
                <span id="total-valor"></span>
            </p>
            
        
                <p><strong>Taxa de Administração:</strong>
                    {% if contrato.tipo_taxa == 'percentual' %}
                        {{ contrato.valor_taxa_administracao_percentual }}%
                    {% else %}
                        R$ {{ contrato.valor_taxa_administracao_fixo }}
                    {% endif %}
                </p>
            </div>
        </div>

        <!-- Garantias -->
        <div class="bg-gray p-6 rounded-lg focus:outline-none border border-gray-200 shadow-md text-center">
            <div class="flex items-center mb-4 justify-center">
                <i class="bi bi-shield text-xl mr-2"></i>
                <h3 class="text-lg font-semibold">Garantias</h3>
            </div>
            <div class="space-y-2">
                <p><strong>Tipo:</strong> {{ contrato.get_garantia_display }}</p>
                {% if contrato.garantia == 'FIADOR' %}
                    <p><strong>Fiador:</strong> {{ contrato.fiador.nome }}</p>
                {% elif contrato.garantia == 'CAUCAO' %}
                    <p><strong>Valor Caução:</strong>  {{ contrato.valor_caucao }}</p>
                {% elif contrato.garantia == 'SEGURO_FIANCA' or contrato.garantia == 'CAPITALIZACAO' %}
                    <p><strong>Seguradora:</strong> {{ contrato.seguradora }}</p>
                    <p><strong>Apólice:</strong> {{ contrato.apolice }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Seguro Incêndio -->
    <div class="flex flex-col flex-auto gap-6 mb-6">
        <!-- Partes do Contrato -->
        <div class="bg-gray p-6 rounded-lg focus:outline-none border border-gray-200 shadow-md text-center">
            <div class="flex items-center mb-4 justify-center">
                <i class="bi bi-file-text text-xl mr-2"></i>
                <h3 class="text-lg font-semibold">Seguro Contra Incêndio</h3>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                <div>
                    <p><strong>Seguradora:</strong> {{ contrato.seguradora_incendio }}</p>
                </div>
                <div>
                    <p><strong>Apólice:</strong> {{ contrato.apolice_incendio }}</p>
                </div>
                <div>
                    <p><strong>Valor:</strong>  {{ contrato.valor_seguro_incendio }}</p>
                </div>
                <div>
                    <p><strong>Vencimento:</strong> {{ contrato.vencimento_seguro_incendio|date:"d/m/Y" }}</p>
                </div>
            </div>
        </div>
        
    

    
        <div class="bg-gray p-6 rounded-lg focus:outline-none border border-gray-200 shadow-md text-center">
            <div class="flex items-center mb-4 justify-center">
                <i class="bi bi-cash-coin text-xl mr-2"></i>
                <table class="w-full border-collapse">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 border-b">Valor Total</th>
                            <th class="py-2 px-4 border-b">Data de Vencimento</th>
                            <th class="py-2 px-4 border-b">Status Pagamento</th>
                            <th class="py-2 px-4 border-b">Status Repasse</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td class="py-2 px-4 border-b">
                                <span class="currency" data-value="{{ cobranca.valor_total }}"></span>
                            </td>
                            <td class="py-2 px-4 border-b">{{ cobranca.data_vencimento|date:"d/m/Y" }}</td>
                            <td class="py-2 px-4 border-b">
                                <span class="px-2 py-1 rounded 
                                    {% if cobranca.status_pagamento == 'PAGO' %}bg-green-100 text-green-800
                                    {% elif cobranca.status_pagamento == 'PENDENTE' %}bg-yellow-100 text-yellow-800
                                    {% elif cobranca.status_pagamento == 'ATRASADO' %}bg-red-100 text-red-800
                                    {% endif %}">
                                    {{ cobranca.get_status_pagamento_display }}
                                </span>
                            </td>
                            <td class="py-2 px-4 border-b">
                                <span class="px-2 py-1 rounded 
                                    {% if cobranca.status_repasse == 'REPASSADO' %}bg-green-100 text-green-800
                                    {% elif cobranca.status_repasse == 'PENDENTE' %}bg-yellow-100 text-yellow-800
                                    {% endif %}">
                                    {{ cobranca.get_status_repasse_display }}
                                </span>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="py-2 px-4 border-b text-center">Nenhuma cobrança encontrada.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Função para formatar valor em moeda brasileira
        function formatCurrency(value) {
            if (!value || value === '') return 'R$ 0,00'; // Trata valores nulos ou vazios
            value = value.replace(/\D/g, ''); // Remove todos os caracteres não numéricos
            value = (parseInt(value) / 100).toFixed(2); // Converte para número e divide por 100
            return new Intl.NumberFormat('pt-BR', {
                style: 'currency',
                currency: 'BRL'
            }).format(value);
        }

        // Encontra todos os elementos com a classe "currency"
        const currencyElements = document.querySelectorAll('.currency');
        let total = 0;

        currencyElements.forEach(element => {
            const rawValue = element.getAttribute('data-value'); // Obtém o valor bruto
            console.log("Valor Bruto:", rawValue); // Log para depuração

            if (rawValue) {
                const numericValue = parseFloat(rawValue); // Converte para número
                console.log("Valor Numérico:", numericValue); // Log para depuração

                total += numericValue; // Soma ao total
                element.textContent = formatCurrency(rawValue); // Formata e exibe o valor
            } else {
                element.textContent = 'R$ 0,00'; // Valor padrão para campos vazios
            }
        });

        // Exibe o total formatado
        const totalElement = document.getElementById('total-valor');
        if (totalElement) {
            totalElement.textContent = formatCurrency(total.toFixed(2)); // Formata o total
        }

        const projectedElements = document.querySelectorAll('.currency-projected');
        projectedElements.forEach(element => {
        const rawValue = element.getAttribute('data-value');
        if (rawValue) {
            element.textContent = formatCurrency(rawValue);
        } else {
            element.textContent = 'R$ 0,00';
        }
        });


    });
</script>
{% endblock %}