{% extends 'imoveis/base.html' %}

{% block content %}
<div class="container mx-auto p-4">
    <!-- Formulário de Busca -->
    <form method="get" action="{% url 'buscar' %}" class="mb-8">
        <div class="flex items-center">
            <input
                type="text"
                name="q"
                placeholder="Buscar clientes, imóveis ou contratos"
                class="flex-grow p-2 bg-gray-900 text-white border border-gray-800 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-gray-500 transition-colors"
            />
            <button
                type="submit"
                class="bg-gray-700 text-white px-6 py-2 rounded-r-lg hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-500 transition-colors"
            >
                Buscar
            </button>
        </div>
    </form>

    <!-- Botões de Ação -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <a
            href="{% url 'cadastro_cliente' %}"
            class="bg-gray-900 text-white px-6 py-4 rounded-full focus:outline-none border border-gray-200 text-center hover:bg-gray-800 transition-colors"
        >
            Cadastrar Cliente
        </a>
        <a
            href="{% url 'cadastro_imovel' %}"
            class="bg-gray-900 text-white px-6 py-4 rounded-full focus:outline-none border border-gray-200 text-center hover:bg-gray-800 transition-colors"
        >
            Cadastrar Imóvel
        </a>
        <a href="{% url 'cadastro_contrato' %}" class="bg-gray-900 text-white px-6 py-4 rounded-full focus:outline-none border border-gray-200 text-center hover:bg-gray-800 transition-colors">
            Cadastrar Contrato
        </a>
        <a
            href="{% url 'listar_clientes' %}"
            class="bg-gray-900 text-white px-6 py-4 rounded-full focus:outline-none border border-gray-200 text-center hover:bg-gray-800 transition-colors"
        >
            Listar Clientes
        </a>
        <a
            href="{% url 'listar_imoveis' %}"
            class="bg-gray-900 text-white px-6 py-4 rounded-full focus:outline-none border border-gray-200 text-center hover:bg-gray-800 transition-colors"
        >
            Listar Imóveis
        </a>
        <a
            href="{% url 'listar_contratos' %}"
            class="bg-gray-900 text-white px-6 py-4 rounded-full focus:outline-none border border-gray-200 text-center hover:bg-gray-800 transition-colors"
        >
            Listar Contratos
        </a>
        
        <a
            href="{% url 'cadastro_cobrancas' %}"
            class="bg-gray-900 text-white px-6 py-4 rounded-full focus:outline-none border border-gray-200 text-center hover:bg-gray-800 transition-colors"
        >
            Gerar Cobranças
        </a>
        <button
            id="atualizarIndices"
            class="bg-gray-900 text-white px-6 py-4 rounded-full focus:outline-none border border-gray-200 text-center hover:bg-gray-800 transition-colors"
        >
            Atualizar Índices de Inflação
        </button>
        <a href="{% url 'extrato' %}" class="bg-gray-900 text-white px-6 py-4 rounded-full focus:outline-none border border-gray-200 text-center hover:bg-gray-800 transition-colors">
            Extrato
          </a>


        <a href="{% url 'reajustar_contratos' %}" class="bg-gray-900 text-white px-6 py-4 rounded-full focus:outline-none border border-gray-200 text-center hover:bg-gray-800 transition-colors">
            Reajustar Contrato
          </a>
          <a href="{% url 'visualizar_mensagens' %}" class="bg-gray-900 text-white px-6 py-4 rounded-full focus:outline-none border border-gray-200 text-center hover:bg-gray-800 transition-colors">
            Mensagens de Cobranças
          </a>
        
        
        
        
        

    </div>
    <p id="statusAtualizacao" class="text-gray-300 mt-2"></p>
</div>
<script>
    document.getElementById("atualizarIndices").addEventListener("click", async () => {
        const statusMsg = document.getElementById("statusAtualizacao");
        
        // Mensagem de início
        statusMsg.textContent = "Atualização em andamento...";
        statusMsg.classList.remove("text-green-500", "text-red-500");
        statusMsg.classList.add("text-blue-500");
    
        try {
            const response = await fetch("/atualizar-indices/", { method: "POST" });
    
            if (response.ok) {
                statusMsg.textContent = "Atualização concluída com sucesso!";
                statusMsg.classList.remove("text-blue-500", "text-red-500");
                statusMsg.classList.add("text-green-500");
            } else {
                throw new Error(`Erro na atualização (Status: ${response.status})`);
            }
        } catch (error) {
            statusMsg.textContent = "Erro ao atualizar os índices.";
            statusMsg.classList.remove("text-blue-500", "text-green-500");
            statusMsg.classList.add("text-red-500");
        }
    });
    </script>

{% endblock %}